@import url("_var.css");

header {
    background-color: var(--bg-c1);
    color: var(--fg1);
    height: 10%;
    width: 100vw;
}
nav ul {
    background-color: var(--bg3);
    height: 5vh;
    list-style-type: none;
}
nav ul li {
    heght: 5vh;
    width: 3vw;
    border: 2px var(--fg3) solid;
}
nav ul li a {
    color: var(--fg3);
    text-decoration: none;
}
footer {
    background-color: var(--bg2);
    color: var(--fg2);
    height: 7.5vh;
    width: 100vw;
}
