@import url("https://fonts.google.com/css2?family=playfair+Display");

/* Vars.css */
:root {
    --bg1: #dedede;
    --fg1: #222;
    --bg2: #222;
    --fg2: #dedede;
    --bg-c1: #0af;
    --bg3: #999;
    --fg3: #0ff;
}
@media(prefers-color-scheme:dark) {
    :root {
        --bg1: #1f1f1f;
        --fg1: #eee;
        --bg2: #dedede;
        --fg2: #222;
        --bg3: #007;
        --fg3: #ff0;
    }
}
/* Reset.css */
* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg1);
    color: var(--fg1);
    font-family: "Playfair Display", serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

/* UI.css */
header {
    background-color: var(--bg-c1);
    color: var(--fg1);
    height: 7.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
nav {
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 7.5vh;
    left: 0;
}
nav ul {
    background-color: var(--bg3);
    width: 100vw;
    height: 5vh;
    list-style-type: none;
}
nav ul li {
    display: block;
    height: 4vh;
    width: 5vw;
    text-align: center;
    border-top: 1px var(--fg3) solid;
}
nav ul li a {
    color: var(--fg3);
    text-decoration: none;
}
nav ul li a:hover {
    color: var(--fg3);
    display: block;
}
main {
    position: absolute;
    top: 22.5vh;
    left: 0;
    width: 100vw;
    height: 80vh;
}
article h3 {
    font-family: sans-serif;
    font-size: x-large;
    font: bold italic;
}
article p {
    font-size: normal;
    text-indent: 4px;
}
footer {
    background-color: var(--bg2);
    color: var(--fg2);
    height: 7.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 92.5vh;
    left: 0;
}
