@import url("https://fonts.google.com/css2?family=playfair+Display");

/* Vars.css */
:root {
    --bg1: #dedede;
    --fg1: #222;
    --bg2: #222;
    --fg2: #dedede;
    --bg-c1: #0af;
    --bg3: #999;
    --fg3: #0ff;
}
@media(prefers-color-scheme:dark) {
    :root {
        --bg1: #1f1f1f;
        --fg1: #eee;
        --bg2: #dedede;
        --fg2: #222;
        --bg3: #007;
        --fg3: #ff0;
    }
}
/* Reset.css */
* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg1);
    color: var(--fg1);
    font-family: "Playfair Display", serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#container {
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
}

/* UI.css */
header {
    background-color: var(--bg-c1);
    color: var(--fg1);
    height: 10%;
    width: 100vw;
}
nav ul {
    background-color: var(--bg3);
    height: 5vh;
    list-style-type: none;
}
nav ul li {
    height: 5vh;
    width: 3vw;
    border: 2px var(--fg3) solid;
}
nav ul li a {
    color: var(--fg3);
    text-decoration: none;
}
footer {
    background-color: var(--bg2);
    color: var(--fg2);
    height: 7.5vh;
    width: 100vw;
}
