@import url("https://fonts.google.com/css2?family=playfair+Display");
@import url("_var.css");
* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg1);
    color: var(--fg1);
    font-family: "Playfair Display", serif;
}
